html {
  min-height: 100%;

  font-size: 20px;
}
body {
  font-size: 16px;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Open Sans,lucida grande,Segoe UI,arial,verdana,lucida sans unicode,tahoma,sans-serif;
}
body, p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
}
