@font-face {
  font-family: 'GreenScreen';
  src: url('./Greenscr.otf');
}
html {
  cursor: none;
  font-size: 20px;
}
body {
  margin: 0;

  background-color: #000;
  font-family: 'GreenScreen';
  text-transform: uppercase;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  color: #fff;
  font-size: 16px;
}
button {
  font-family: 'GreenScreen';
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  max-width: 1200px;
  max-height: 1000px;
  width: 98%;
  height: 98%;
  border-radius: 50% / 2%;

  background: #033212 linear-gradient( #000 5%, transparent );
  background-size: 100% 5px;
  cursor: default;
  overflow: hidden;
}
.render {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50% / 2%;

  background-image: radial-gradient( 200% 100% at bottom, transparent 98%, #000 ),
                    radial-gradient( 200% 100% at top, transparent 98%, #000 ),
                    radial-gradient( 100% 220% at 1%, transparent 98%, #000 ),
                    radial-gradient( 100% 220% at 99%, transparent 98%, #000 ),
                    linear-gradient( rgba( 27, 129, 62, .3 ), rgba( 27, 129, 62, .3 ) ),
                    radial-gradient( at bottom left, transparent 70%, hsla( 0, 0%, 100%, .4 ) ),
                    radial-gradient( transparent 75%, hsla( 0, 0%, 100%, .1 ) );
  box-shadow: inset 0 0 150px 5px #000;

  pointer-events: none;
}
.open {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: transparent;

  animation: openani 4s 1;
  -webkit-animation: openani 4s 1;

  pointer-events: none;
}
@keyframes openani {
  0% {background: hsla( 0, 0%, 0%, .7 );}
  100% {background: transparent;}
}

#app {
  padding: 100px;
}
